tfin = 60.0
nsteps = 600.0
x0 = 0.0
y0 = 0.0
vx0 = 5.0
vy0 = 0.0
mass = 0.056
g   = 0.0
omega   = 10.0
mu = 6.0
R = 0.033
rho = 1.2
Ct = 0
sampling = 1
tol = 1e-5
maxit = 200.0
alpha = 1.0
output=mainoutput.out

